.main-chat
  .main-chat__group-info
    .main-chat__group-info__left-box
      .main-chat__group-info__left-box__current-group
        参加しているグループ
      .main-chat__group-info__left-box__member-list
        メンバーリスト
    .main-chat__group-info__edit-btn
      =link_to edit_group_path(), class: "edit-group" do
        Edit
  .main-chat__message-list
    .main-chat__message-list__message-box
      .main-chat__message-list__message-box__info
        .main-chat__message-list__message-box__info__talker
          talker
        .main-chat__message-list__message-box__info__date
          date(日付)
      .main-chat__message-list__message-box__text
        text(メッセージ)
    .main-chat__message-list__message-box
      .main-chat__message-list__message-box__info
        .main-chat__message-list__message-box__info__talker
          talker2
        .main-chat__message-list__message-box__info__date
          date(日付)2
      .main-chat__message-list__message-box__text
        text(メッセージ)2
  .main-chat__message-form
    .main-chat__message-form__new-message
      .main-chat__message-form__new-message__input-box
        %input.main-chat__message-form__new-message__input-box__text{:placeholder => "type a message", :type => "text"}
        %label.main-chat__message-form__new-message__input-box__image
          = icon('fas', 'image')
          %input{type: "file", class: "input-box"}
      .main-chat__message-form__new-message__submit-btn
        =link_to "#", class: "send-message" do
          Send