.main-chat
  .main-chat__group-info
    .main-chat__group-info__left-box
      .main-chat__group-info__left-box__current-group
      .main-chat__group-info__left-box__member-list
    .main-chat__group-info__edit-btn
  .main-chat__message-list
    .main-chat__message-list__message-box
      .main-chat__message-list__message-box__info
        .main-chat__message-list__message-box__info__talker
        .main-chat__message-list__message-box__info__date
      .main-chat__message-list__message-box__text
  .main-chat__message-form
    .main-chat__message-form__new-message
      .main-chat__message-form__new-message__input-box
        .main-chat__message-form__new-message__input-box__image
      .main-chat__message-form__new-message__sabmit-btn